[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-heroku = "==0.3.1"
certifi = "==2022.12.7"
chardet = "==3.0.4"
dj-database-url = "==0.5.0"
dj-static = "==0.0.6"
django-toolbelt = "==0.0.1"
djangorestframework = "==3.8.2"
gunicorn = "==19.9.0"
httpie = "==0.9.9"
idna = "==2.7"
pipenv = "==2018.7.1"
"psycopg2" = "==2.7.5"
"psycopg2-binary" = "==2.7.5"
pytz = "==2018.5"
requests = "==2.19.1"
"static3" = "==0.7.0"
"urllib3" = "==1.23"
virtualenv = "==16.0.0"
virtualenv-clone = "==0.3.0"
whitenoise = "==3.3.1"
Django = "==2.1"
Pygments = "==2.2.0"

[dev-packages]

[requires]
python_version = "3.6"
